{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu | Login</title>
{% endblock meta %}

{% block content %}

<section id="authentication-login" class="w-full xl:px-20 lg:px-10 sm:px-2 px-4 py-5 text-white">
    <div class="flex-col items-center justify-center">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4">
              <div class="text-start text-shark-500">
                <h1 style="font-family:Mulish; font-size:15pt; color:bg-primary-500; text-align:center">Basis Data B10</h1>
                <h1 style="font-family:Playfair Display; font-size:20pt; color:bg-primary-500; text-align:center">U-League Indonesian Universities Football Championship</h1>
              </div>
        </section>
        <div class="w-full md:w-4/6 my-6 mx-auto h-auto  border-shark-500 rounded-lg">
        </div>
    </div>
</section>
<h1 style="font-family:Mulish; font-size:20pt; color:black; text-align:center">List Waktu Stadium [Nama Stadium]</h1>
<br>
<table class="w-full text-sm text-left text-primary-500 dark:text-primary-400">
    <thead class="text-xs text-primary-500 uppercase bg-primary-50 dark:bg-primary-500 dark:text-primary-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                List Waktu
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                12.00
            </th>
            <td class="px-6 py-4">
                <button class="bg-primary-500 hover:bg-primary-400 text-white font-bold py-2 px-4 rounded">
                    Pesan
                  </button>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                13.00
            </th>
            <td class="px-6 py-4">
                <button class="bg-primary-500 hover:bg-primary-400 text-white font-bold py-2 px-4 rounded">
                    Pesan
                  </button>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                19.00
            </th>
            <td class="px-6 py-4">
                <button class="bg-primary-500 hover:bg-primary-400 text-white font-bold py-2 px-4 rounded">
                    Pesan
                  </button>
            </td>
        </tr>
    </tbody>
</table>
<br><br>

<br><br>


{% endblock content %}